$pink-red: #ff2bb8;

@use "../node_modules/bulma/sass/" as * with (
  $primary: $pink-red
);

.circle {
  border-radius: 9999px;
}

.website-image {
  border-radius: 0.375rem;
}

.hero-body, .hero {
  padding-left: 32px;
  padding-right: 32px;
}

#nav-tabs {
  border-radius: 0px 0px 30px 30px;
}