$pink-red: #ff2bb8;

@use "../node_modules/bulma/sass/" as * with (
  $primary: $pink-red
);

.circle {
  border-radius: 9999px;
}

.website-image {
  border-radius: 0.375rem;
}

.hero-body, .hero {
  padding-left: 32px;
  padding-right: 32px;
}

#nav-tabs {
  border-radius: 0px 0px 30px 30px;
}

.crossword-tags {
  padding-top: 10px;
}

/* Social media buttons */
#github-button {background-color: #161414;}
#instagram-button {background-color: #d53168;}
#youtube-button {background-color: #f70000;}
#stats-fm-button {background-color: #00d258;}
#steam-button {background-color: #11396c;}