---

---

<section id="websites">
    <h1 class="title is-size-2">Websites</h1>
    <p>
        I have created and designed websites for people. 
        Some of my works are listed below.
        If you would like to me create a website for you or your business,
        feel free to <a href="#socials">contact me</a>!
    </p>
    <br>
    <div class="grid is-col-min-12">
        <slot />
    </div>
</section>   