body {
    background-image: linear-gradient(to left, #00ff00 , #ffff00);
}
h1, p {
    color: black;
    font-family:sans-serif;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h3 {
    color: black;
    font-family:sans-serif;
    position: absolute;
    text-align:center;
    width:auto;
    height:auto;
}

h1 {
    top: 42.5%;
}
p {
    top: 52.5%;
    text-align:center;
}
#headerbox, #projectsbox {
    padding:2px;
    border: 5px solid #efefef;
    border-radius: 10px;
    background-color:#cccccc;
}
#headerbox, #projectsbox, #padding {
    width: 50%;
    height:50%;
    margin: auto;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#headerbox {
    top:50%;
}
#projectsbox {
    top:150%;
}

#header, #projects {
    width:100%;
    height:100%;
}
#below {
    padding:2px;
    border: 2px solid #efefef;
    background-color:rgba(239,239,239,0.8);
    border-radius: 5px;
    width: 10%;
    height:10%;
    margin: auto;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top:90%;
}

#padding {
    top:175%;
    height:50%;
}