<section id="crosswords">
    <h1 class="title is-size-2">Crosswords</h1>
    <p>
        A while back, I got into making some crosswords using a program called <a href="https://crosshare.org">Crosshare</a>
        However, I don't really do it anymore, and I never was very good at it.
        I have decided to leave these here for archival reasons, in case anyone is still interested.
        My favorite one that I made was probably "<em><a href="#fave">Say the Magic Word!</a></em>"
    </p><br>
    <div class="grid is-col-min-9">
        <slot />
    </div>
</section>
