$pink-red: #ff2bb8;

/* Import the basic bulma with customized color */
@use "bulma/sass/utilities" with (
  $primary: $pink-red
);

/* Then import only the needed modules */
@forward "bulma/sass/base";

@forward "bulma/sass/grid/columns";
@forward "bulma/sass/grid/grid";

@forward "bulma/sass/helpers/color";
@forward "bulma/sass/helpers/typography";

@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/footer";
@forward "bulma/sass/layout/hero";
@forward "bulma/sass/layout/level";

@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/elements/title";

@forward "bulma/sass/themes";

/* Everything below this point is my CSS */


#footer {
  border-radius: 30px 30px 0px 0px;
}

/* Social media buttons */
#github-button {background-color: #161414;}
#instagram-button {background-color: #d53168;}
#youtube-button {background-color: #f70000;}
#spotify-button {background-color: #00d258;}
#steam-button {background-color: #11396c;}
#reddit-button {background-color: #f74300;}
#discord-button {background-color: #5865f2;}
#stats-fm-button {background-color: #181212;}