<footer id="footer" class="footer has-background-primary-soft">
    <div class="content has-text-centered">
        <p class="has-text-text-bold">
            Website created by <a href="https://dawsoncall.com">Dawson Call</a>.
            The source code is available on <a href="https://github.com/GamingLizard9/GamingLizard9.github.io">GitHub</a>.
        </p>
        <p class="has-text-text-bold">This webpage was last updated January 20, 2026.</p>
    </div>
</footer>

<style>
    #footer {
        border-radius: 30px 30px 0px 0px;
    }   
</style>
