---

---

<!-- This will allow people to jump to a specific section -->
<div class="notification has-background-primary-soft" id="nav-tabs">
    <nav class="level">
        <a class="level-item title is-size-4" href="#websites">Websites</a>
        <a class="level-item title is-size-4" href="#crosswords">Crosswords</a>
        <a class="level-item title is-size-4" href="#socials">Contact</a>
    </nav>
</div>

<style>
    #nav-tabs {
        border-radius: 0px 0px 30px 30px;
    }
</style>