---

---

<!-- List of all the places I am/can be contacted-->

<section id="socials">
    <h1 class="title is-2">Contact</h1>
    <p>
        This is all of the places where I can be contacted or found.
        On some of these websites, I go by the username <span class="has-text-success">"GamingLizard9"</span>, 
        which I randomly picked when I was twelve and haven't been able to change since.
    </p><br>

    <span>
        <div class="buttons">
            <slot />
        </div>
    </span>

    <br><p>
        Additionally, if you need to directly contact me,
        you can send me an email me <a href="mailto:dawson@dawsoncall.com">here</a>.
    </p>
    
</section>