---
const { service, url_start, username} = Astro.props;

// determine the button color, and URL
const ButtonID = service.toLowerCase().replace(".", "-") + "-button";


const URL =(url_start == null) ? "https://" + service + ".com/" + username : "https://" + url_start + username;
---

<a id={ButtonID} class="button" href={URL}>{service}</a>



<style>
    /* Determines the colors of each button, based on what service they are for */
    #github-button {background-color: #161414;}
    #instagram-button {background-color: #d53168;}
    #youtube-button {background-color: #f70000;}
    #spotify-button {background-color: #00d258; color: #000000;} 
    #steam-button {background-color: #11396c;}
    #reddit-button {background-color: #f74300;}
    #discord-button {background-color: #5865f2;}
    #stats-fm-button {background-color: #181212; color: #1ed760;}
</style>
