---
const { linkText } = Astro.props;
---

<div class="hero is-small  has-background-primary-soft" id="blog-header">
    <div class="hero-header">
        <div class="hero-body">
            <div class="content has-text-text-bold">
                <a class="is-link is-size-5 has-text-white" href=".\"><u>{linkText}</u></a></br>
                <span class="title is-size-1">Dawson Call's <span class="has-text-primary-bold">Blog</span></span>
                
                <p></p> <!-- Line break that is smaller than a <br> -->
                <p class="is-size-5">On this page, I will share thoughts that I have and links to things I enjoy.</p>
            </div>
        </div>
    </div>
</div>

<div class="container is-max-tablet">
    <hr>
</div>

<style>
    .hero-body, .hero {
        padding-left: 32px;
        padding-right: 32px;
    }
    .circle {
        border-radius: 9999px;
    }
    #blog-header {
        border-radius: 0px 0px 30px 30px;
    }
</style>
