---
const { pageTitle } = Astro.props;

import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html data-theme="dark" lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
		<div class="container is-fullhd">
			<main role="main">
				<slot />
			</main>
        	<Footer />
		</div>
    </body>
</html>
