---
const { pageTitle } = Astro.props;
import '../styles/global.scss';


import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html data-theme="dark" lang="en">
    <head>
        <title>{pageTitle}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/icon.png"/>

        <!-- Font Import
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100..900&display=swap');
        </style> -->
    </head>
    <body>
		<div class="container is-fullhd">
			<main role="main" class="main">
				<slot />
			</main>
        	<Footer />
		</div>
    </body>
</html>

<style>
    .main {
		flex: 1 0 auto;
	}
</style>